.projectCard {
  border-radius: 10px;
  gap: 1.5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2.5em;

  box-shadow: 1px 1px 2px 0 rgb(34 36 38 / 15%);
  padding: 2em;
  border-radius: 10px;
  border: 1px solid rgba(34, 36, 38, 0.15);
  position: relative;
  transition: transform 0.3s ease;
  background-color: white;

  a {
    color: black;
  }

  p {
    margin: 0;
  }

  .cardTitleLink {
    display: flex;
    justify-content: space-between;
  }

  .cardImage {
    background-image: url('/assets/images/sample.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 250px;
    border-radius: 10px;
  }

  .cardWipImage {
    width: 100%;
    height: 250px;
  }

  .cardImageContainer {
    position: relative;
  }

  .cardSummary p {
    margin-bottom: 1rem;
    font-size: 1em;
  }

  .cardTags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    color: white;
  }

  .card__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .metadata {
      display: flex;
      justify-content: flex-end;
    }

    .metadata__icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 7px;
    }
  }
}

.projectCard:hover {
  cursor: pointer;
  transform: translateY(-15px);
}

@media only screen and (max-width: 913px) {
  .projectCard {
    grid-template-columns: 1fr;
  }
}
