.projectCard {
  border-radius: 10px;
  gap: 1.5em;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5em;
  box-shadow: 1px 1px 2px 0 rgb(34 36 38 / 15%);
  padding: 2em;
  border-radius: 10px;
  border: 1px solid rgba(34, 36, 38, 0.15);
  position: relative;
  transition: transform 0.3s ease;
  background-color: white;
  width: 450px;

  a {
    color: black;
  }

  p {
    margin: 0;
  }

  .cardTitleLink {
    display: flex;
    justify-content: space-between;
  }
  

    img {
      width: auto;
      display: block;
      max-width: 200px;
      height: 400px;
      margin-left: auto;
      margin-right: auto;
    }
  

  .cardWipImage {
    width: 100%;
    height: 250px;
  }

  .cardImageContainer {
    position: relative;
  }

  .cardSummary p {
    margin-bottom: 1rem;
    font-size: 1em;
  }

  .cardTags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    color: white;
  }

  .card__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .metadata {
      display: flex;
      justify-content: flex-end;
    }

    .metadata__icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 7px;
    }
  }
}

.projectCard:hover {
  cursor: pointer;
  transform: translateY(-15px);
}

@media only screen and (max-width: 913px) {
  .projectCard {
    grid-template-columns: 1fr;
  }
}
