#home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;

  .homeButton {
    border: 1px solid #1c1e21;
    padding: 0.8em 1.55em;
    font-size: 1em;
    display: flex;
    align-items: center;
    gap: 12.5px;
    transition: all 0.25s,
      transform 0.25s;
    cursor: pointer;
    margin-top: 50px;
    border-radius: 50px;
    color: #1c1e21;
    text-decoration: none;
  }

  .homeButton:hover {
    color: white;
    background-color: #f66b0e;
    border-color: #f66b0e;
  }

  .home__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;


    .container__text {
      min-width: 20rem;
      text-align: center;

      h1 {
        font-size: 4em;
        margin-bottom: 0.2em;
        font-weight: 400;
      }

      .text__title {
        font-size: 1.2em;
        color: rgba(0,0,0,.67);
      }

    }
  }

  @keyframes showEmoji {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .text__emoji {
    animation-name: showEmoji;
    animation-duration: 4s;
    animation-timing-function: linear;
  }

  .text__name {
    font-style: italic;
    color: #f66b0e;
  }
}

@media only screen and (max-width: 567px) {
  #home .home__container .container__text {
    text-align: center;

     h1 {
      font-size: 2.0em;
    }

    .text__title {
      font-size: 1.05em;
    } 

    .text__location {
      font-size: 0.85em;
    }
   
  }
}

@media only screen and (max-width: 765px) {
  #home .home__container .container__text {
    text-align: center;
  }

  #home .home__container  {
    gap: 1.5em;
  }
}
