#home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;

  .homeButton {
    border: 1px solid #1c1e21;
    padding: 1em 1.75em;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    gap: 12.5px;
    transition: color 0.25s, background-color 0.25s, border-color 0.25s,
      transform 0.25s;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 50px;
  }

  .homeButton:hover {
    color: white;
    background-color: #f66b0e;
    border-color: #f66b0e;
  }

  .home__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;

    .container__image {
      width: 15em;

      img {
        width: 100%;
        border-radius: 50%;
      }
    }

    .container__text {
      min-width: 20rem;

      h1 {
        font-size: 2.75em;
        margin: 0;
        font-weight: 400;
      }

      .text__title {
        font-size: 1.75em;
        font-weight: 300;
      }

      .text__location {
        font-size: 1.25em;
        font-style: italic;
        font-weight: 200;
      }
    }
  }

  @keyframes showEmoji {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .text__emoji {
    animation-name: showEmoji;
    animation-duration: 4s;
    animation-timing-function: linear;
  }

  .text__name {
    font-style: italic;
    color: #f66b0e;
  }
}

@media only screen and (max-width: 567px) {
  #home .container__text {
    text-align: center;
  }
}
