#menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  margin-bottom: 2rem;
  // box-shadow: 0 -9px 54px rgb(0 0 0 / 10%);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: white;

  ul {
    display: flex;
    list-style: none;
    gap: 2em;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: #1c1e21;
  }

  .menu-item {
    font-weight: 300;
  }

  .menu-item--selected {
    font-weight: 400;
  }
}
