#menu {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    margin-bottom: 2rem;

    .menu__home {
        background: #1c1e21;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        height: 100%;
        min-width: 3.5em;
    }


    .menu__right {
        ul {
            display: flex;
            align-items: center;
            list-style: none;
            gap: 2em;
            height: 100%;
            margin: 0;
            padding: 0;
            margin-right: 10px;
        }

        a {
            text-decoration: none;
            color:#1c1e21;
        }
    }
}

.menu-item--selected {
    border-bottom: 10px solid #1c1e21;
}