.tools {

    .tools__list {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        margin-top: 10px;

        .tag {
            color: #5a5a5a;
        }
    }
}

@media only screen and (max-height: 825px) {
  .tools {
    display: none;
  }
}
