.segment {
  border-radius: 10px;
  margin-bottom: 2em;
  box-shadow: 1px 1px 2px 0 rgb(34 36 38 / 15%);
  padding: 2em;
  border-radius: 10px;
  border: 1px solid rgba(34, 36, 38, 0.15);
  transition: transform 0.3s ease;
  background-color: white;
}
