#projects {
    
    .projects__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 700px));
        justify-content: center;
        grid-gap: 0 0.75rem;
        padding: 0 0 5rem 0;
    }
}