#pageTitle {

    display: flex;
    justify-content: center;
    width: 300px;
    margin: 2rem 0;

    h1 {
        margin: 0;
        font-size: 2.5em;
    }

    .title__bar {
        height: 3px;
        margin: 12px;
        background-color: #1c1e21;
    }
}