.legend {
  .tags__list {
    margin-top: 20px;

    .list__item {
      display: flex;
      gap: 10px;
      align-items: center;
      margin-bottom: 10px;
    }
  }
}

@media only screen and (max-width: 913px) {

  .legend {
    text-align: center;
  }
  .legend .tags__list .list__item {
    flex-direction: column;
  
  }
}
