* {
  box-sizing: border-box;
  font-family: 'Source Sans 3', sans-serif;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #1c1e21;
}

#mainContainer {
  height: calc(100% - 3rem);
}

p {
  line-height: 1.6rem;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1.20rem;
}

h1, h2, h3 {
  font-family: 'Source Serif Pro', serif;
}

.italic {
  font-style: italic;
}
