* {
  box-sizing: border-box;

}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #1c1e21;
}

#mainContainer {
  // height: calc(100% - 6rem);
  height: 100%;
  padding-top: 3em;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  margin: 0;
  line-height: 1.6rem;
}

.italic {
  font-style: italic;
}
